  
{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="jumbotron text-center">
      <h1 class="h1 mb-1 font-weight-normal">{{ book.title }}</h1>
      <br>
      <b>
        <table align="center">
          <tr align="left">
            <td>Kirjoittaja</td>
            <td class="text-primary">{{ book.author }}</td>
          </tr>
          <tr align="left">
            <td>Julkaistu</td>
            <td class="text-primary">{{ book.year }}</td>
          </tr>
          <tr align="left">
            <td>Kieli</td>
            <td class="text-primary">{{ book.language }}</td>
          </tr>
          <tr align="left">
            <td>Hinta</td>
            <td class="text-primary">{{ book.price }} €</td>
          </tr>
          <tr align="left">
            <td>Saatavilla</td>
            <td class="text-primary">{{ book.available }}</td>
          </tr>
        </table>
      </b>
      <br>
        <td colspan="3">
          <div>
              {% if current_user.is_authenticated and current_user.has_role('ADMIN') %}
              <a href="/books/edit?book_id={{request.args.get('book_id')}}" class="btn btn-outline-primary" role="button">Muokkaa</a>
              {% endif %}
              {% if book.available and current_user.is_authenticated and current_user.has_role('CUSTOMER')%}
              <a href="/cart/add?book_id={{request.args.get('book_id')}}" class="btn btn-outline-secondary" role="button">Lisää ostoskoriin</a>
            {% endif %}
          </div>
        </td>
  </div>
</div>
{% endblock %}