{% extends "layout.html" %}
  
{% block body %}
<div class="text-center">
  <br>
    <h1 class="h1 mb-1 font-weight-normal">Muokkaa kirjan tietoja</h1>
  <br>
<form method="POST" action="{{ url_for('books_edit', book_id=request.args.get('book_id')) }}">
  <table align="center">
    <tr>
      <td>
        {{ form.title.label }}
      </td>
      <td>
        {{ form.title }}
      </td>
      <td>
        <ul>
          {% for error in form.title.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>  
    <tr>
      <td>
        {{ form.author.label }}
      </td>
      <td>
        {{ form.author }}
      </td>
      <td>
        <ul>
          {% for error in form.author.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>  
    <tr>
      <td>
        {{ form.year.label }}
      </td>
      <td>
        {{ form.year }}
      </td>
      <td>
        <ul>
          {% for error in form.year.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.language.label }}
      </td>
      <td>
        {{ form.language }}
      </td>
      <td>
        <ul>
          {% for error in form.language.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.price.label }}
      </td>
      <td>
        {{ form.price }}
      </td>
      <td>
        <ul>
          {% for error in form.price.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.available.label }}
      </td>
      <td>
        {{ form.available }}
      </td>
    </tr>  
    <tr>
      <td colspan="3">
        <br>
        <input type="submit" class="btn btn-outline-info" value="Tallenna muutokset"/>
      </td>
    </tr>    
</form>
{% endblock %}