{% extends "layout.html" %}

{% block body %}

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}

  <h2>Hae kirjaa</h2>
  <form method=post action="{{ url_for('books_index') }}">
    <dl>
      {{ (form.select) }}
      <p>
      {{ (form.search) }}
    </dl>
  <p><input type=submit value=Etsi>
  </form>
  <table>
    <tr>
      <th>Nimi</th>
      <th>Kirjoittaja</th>
      <th>Julkaisuvuosi</th>
      <th>Kieli</th>
      <th>Hinta</th>
      <th>Saatavilla</th>
    </tr>
    {% for book in books %}
    <tr>
      <td><a href="/book?book_id={{ book.id }}">{{ book.title }}</a></td>
      <td>{{ book.author }}</td>
      <td>{{ book.year }}</td>
      <td>{{ book.language }}</td>
      <td>{{ book.price }}</td>
      <td>{{ book.available }}</td>
      <td>
        <form method="POST" action="{{ url_for('books_set_unavailable', book_id=book.id) }}">
          <input type="submit" value="Muuta saatavuus" />
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('books_delete', book_id=book.id) }}">
          <input type="submit" value="Poista kirja" />
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}