{% extends "layout.html" %}


{% block body %}
  <table>
    <tr>
      <th>Nimi</th>
      <th>Kirjoittaja</th>
      <th>Julkaisuvuosi</th>
      <th>Kieli</th>
      <th>Hinta</th>
      <th>Saatavilla</th>
    </tr>
    {% for book in books %}
    <tr>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.year }}</td>
      <td>{{ book.language }}</td>
      <td>{{ book.price }}</td>
      <td>{{ book.available }}</td>
      <td>
        <form method="POST" action="{{ url_for('books_set_unavailable', 
         book_id=book.id) }}">
          <input type="submit" value="Muuta saatavuus"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}