{% extends "layout.html" %}
  
{% block body %}
<div class="text-center">
  <h1 class="h1 mb-1 font-weight-normal">Kirjatilaus</h1>
    <form method="POST" action="{{ url_for('order_create') }}">
    <br>
    <div>
      <h2 class="h2 mb-2 font-weight-normal">Asiakastiedot</h2>
    </div>
    <table align="center">
      <tr>
        <td>
          {{ form.name.label }}
        </td>
        <td>
          {{ form.name }}
        </td>
        <td>
          <ul>
            {% for error in form.name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>  
      <tr>
        <td>
          {{ form.e_mail.label }}
        </td>
        <td>
          {{ form.e_mail }}
        </td>
        <td>
          <ul>
            {% for error in form.e_mail.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>  
      <tr>
        <td>
          {{ form.address.label }}
        </td>
        <td>
          {{ form.address }}
        </td>
        <td>
          <ul>
            {% for error in form.address.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </table>
    <div>
    <br>
      <h2 class="h2 mb-2 font-weight-normal">Tilatut kirjat</h2>
      <br>
    </div>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Nimi</th>
          <th>Kirjoittaja</th>
          <th>Julkaisuvuosi</th>
          <th>Kieli</th>
          <th>Hinta</th>
        </tr>
      </thead>
      {% for book in books %}
      <tbody>
        <tr>
          <td><b>{{ book.title }}</b></a></td>
          <td>{{ book.author }}</td>
          <td>{{ book.year }}</td>
          <td>{{ book.language }}</td>
          <td>{{ book.price }} €</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
    <div>
      <h3 class="h3 mb-3 font-weight-normal">Kokonaishinta</h3>
      <div><b>{{ price }}</b> €</div>
    </div> 
    <br>   
    <tr>
      <td colspan="3">
        <input type="submit" class="btn btn-outline-info" value="Vahvista tilaus"/>
      </td>
    </tr>    
  </form>
</div>
{% endblock %}